h1{
    color:dodgerblue;
    font-family: "Comic Sans MS";
    text-align: center;
    background-color: aquamarine
}
p{
    font-size: 25px;
    font-weight: bold;
    font-family: "Comic Sans MS";

}
body{
    background-image: url("../images/19-10-30-10-37-03-315_deco.jpg");
    background-repeat: no-repeat;
    background-attachment:  fixed;
    background-position:  center;
    
    
}