body{
    background-image:url(../images/homeback.png);
    background-size:cover;
}
h1{
    text-align: center;
    color: yellow;
    background-color:deepskyblue
}
h3{
      text-align: center;
    color: yellow;
    background-color:deepskyblue  
    
}
tbody{
    outline-color: yellow;
    background-color: deepskyblue;
    color: yellow
}
br{background-image: url(../images/banback.jpg);
        
        
    }