h1.title{
    background-color:firebrick;
    text-align: center;
}
span.kuro{
     color: white;
}
h2.asa{
    background-color: black;
    color: white;
}
h2{
     text-align: center;
}
body{
    
    background-image: url(../images/bodyhaikei.jpg);
}
p{
    color:black;
    font-size: 16px;
    font-weight: 1000;
    
}
h2.kyu{
    background-color: white;
    color: black;
}
h1.link{
    color: white;
    background-color: black;
    text-align: center;
}
